<footer>
    <p>&COPY; &nbsp;<span id="date">&nbsp;</span></>
        GeorgeZappa: I made this with &#10084; and much &#9749;
    </p>
    <p>The code is licensed under <a
            href="https://spdx.org/licenses/MIT-0.html">The
            "MIT No Attribution" (MIT-0) License</a>.
    </p>
</footer>
<script src="./js/script.js"></script>
</body>

</html>